body {
    margin: 20px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #4cc9f0;
    color: #3a5a40;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #3a5a40;
    animation: pulse 8s infinite;
    text-shadow: 1px 1px #3a5a40;
        
}
@keyframes pulse {
  0% {
    background-color: #2b2d42;
  }
  100% {
    background-color: #a5a58d;
  }
}


.border-blue {
    border: 1px dotted blue;
}



